@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --clr1: hsl(0, 0%, 98%);
  --clr2: hsl(0, 0%, 41%);
  --clr3: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 18px;
  background-color: var(--clr1);
}

.page-wrapper {
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
}

/* Header below */

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-wrapper {
  min-width: 180px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 100px;
  cursor: pointer;
  margin-bottom: -10px;
}

nav {
  width: 100%;
  height: 100%;
  padding: 0px 30px;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100%;
}

header li {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

nav > ul > li:nth-of-type(3) {
  margin-left: auto;
}

a {
  text-decoration: none;
}

li,
li a {
  color: var(--clr2);
}

.drop-down-container > a > li img {
  width: 12px;
  transition: 0.2s;
  transform: rotate(0deg);
}

nav > ul > li:last-of-type a {
  border: 1px solid var(--clr2);
  padding: 15px 30px;
  border-radius: 20px;
  margin: 0px 10px;
}

li:hover,
li a:hover,
li:last-of-type a:hover {
  color: black;
  transition: 0.2s;
}

.drop-down-container {
  position: relative;
}

.drop-down {
  display: none;
  position: absolute;
  padding: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.dr1 {
  top: 30px;
  right: 0px;
}

.drop-down ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.drop-down li {
  gap: 10px;
}

.drop-down li img {
  width: 18px;
}

.dr2 {
  width: 135px;
  top: 30px;
  left: 0px;
}

/* JS Class */

.active {
  display: flex;
}
.active-color {
  color: black;
}

/* Main below */

main {
  width: 86%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.col-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

h1 {
  font-size: 85px;
  margin-top: 155px;
  padding-right: 30px;
  letter-spacing: 2px;
}

p {
  font-size: 18px;
  color: var(--clr2);
  padding-right: 140px;
  letter-spacing: 1px;
  line-height: 25px;
}

.col-1 a {
  border: 1px solid black;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: black;
  color: white;
  width: max-content;
  transition: 0.2s;
  font-weight: bold;
  letter-spacing: 1px;
}

.col-1 a:hover {
  background-color: var(--clr1);
  color: black;
}

.client-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.client-wrapper img {
  width: 110px;
}

.client-wrapper img:nth-of-type(2) {
  width: 80px;
}

/* Col-2 below */

.col-2 {
  width: 100%;
  text-align: center;
}

.col-2 img {
  margin-top: 60px;
  width: 450px;
}

#mobile-hero {
  display: none;
}

/* Mobile design below */

@media only screen and (max-width: 1415px) {
  h1 {
    padding-right: 20px;
    font-size: 77px;
  }

  p {
    padding-right: 50px;
  }

  .col-1 {
    padding-left: 30px;
  }

  main {
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
  }

  #desktop-hero {
    display: none;
  }

  #mobile-hero {
    display: block;
    width: auto;
    max-width: 750px;
    width: 100%;
  }

  .col-1 {
    order: 1;
  }

  .col-2 {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    padding-right: 0px;
  }

  p {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    padding: 0px;
  }
  .col-1 a {
    margin: 0 auto;
  }

  .client-wrapper {
    justify-content: center;
    gap: 20px;
  }

  .client-wrapper img {
    width: 100%;
  }

  .client-wrapper img:nth-of-type(2) {
    width: 90%;
  }
}
